{% extends 'Movies/core.html' %}
{% block title %}SignUp{% endblock %}

{% block content %}
<div class="flex flex-wrap justify-center">
    <div class="bg-neutral-800 rounded-xl px-12 py-6 m-auto">
    <h1 class="text-white text-xl font-bold">Sign Up</h1>
    <br>
    <form action=""  method="post" class="p-6 m-auto">
        {% csrf_token %}
        <p class="text-white font-semobold p-4">Already have an Account?
        <a href="{% url 'login' %}" class="hover:text-blue-700">Login</a></p><br>
        <p class="text-white">First Name: {{ form.first_name }}  Last Name: {{ form.last_name }}<br><br></p>
        <p class="text-white">Username: {{ form.username }}</p><br><br>
        <p class="text-white">Email: {{ form.email }}</p><br><br>
        <p class="text-white">Password: {{ form.password1 }}</p><br><br>
        <p class="text-white">Repeat Password: {{ form.password2 }}</p><br><br>
        <button type="submit" class="btn btn-primary bg-yellow-600 hover:opacity-70 text-white py-2 px-4 hover:bg-yellow-900 rounded-xl">Sign Up</button>
    </form><br><br>
    
    </div>
    </div>
{% endblock %}