{% extends 'Movies/core.html' %}

{% block content %}
<div class="flex items-center justify-center">
    <div class="container p-6">
        <h1 class="text-white font-bold text-3xl">About Us</h1><br>
        <p class="text-white font-semibold text-xl">This Website was created by <span class="font-bold text-white">Abdelmalek Boulahdour</span> as the fullstack Developer.
        The idea of the website was taken from <a href="https://roadmap.sh/projects/movie-reservation-system" target="_blank" class="font-bold hover:text-blue-600">roadmap.sh-movie-reservation-system</a>.
    You can contact the devoloper throught email:</p><br> <h2 class="font-bold text-4xl text-white px-16 py-6 m-2">Boulahdourabdelmalek@gmail.com</h2>
    </div>
</div>
{% endblock %}