{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}| Core</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
</head>
<body class="bg-black">
    <nav class="py-6 px-6 flex flex-wrap justify-between w-full items-center bg-neutral-900">
        
            <span class="font-bold text-xl sm:px-6 py-1 text-black bg-yellow-600 px-4">Movies House</span>
            <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-body rounded-base sm:hidden bg-stone-600 hover:text-heading focus:outline-none focus:ring-2 focus:ring-neutral-tertiary" aria-controls="navbar-default" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"/></svg>
            </button>
            <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-default rounded-base bg-neutral-secondary-soft md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-neutral-primary">
                    <li><a href="{% url 'home' %}" class="block font-semibold text-l sm:px-6 text-white hover:bg-stone-600 rounded-xl px-4 py-2 " aria-current="page">Home</a></li>
                    <li><a href="{% url 'movies' %}" class="block font-semibold text-l sm:px-6 text-white hover:bg-stone-600 rounded-xl px-4 py-2 ">Movies List</a></li>
                    <li><a href="{% url 'about' %}" class="block font-semibold text-l sm:px-6 text-white hover:bg-stone-600 rounded-xl px-4 py-2 ">About Us</a></li>
                    

                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'mymovies' %}" class="block font-semibold text-l sm:px-6 text-white hover:bg-stone-600 rounded-xl px-4 py-2">My Tickets</a></li>
                        <li><a href="{% url 'account_logout' %}" class="block font-semibold text-l sm:px-6 text-white hover:bg-stone-600 rounded-xl px-4 py-2 ">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'account_signup' %}" class="block font-semibold text-l sm:px-6 text-white hover:bg-stone-600 rounded-xl px-4 py-2">Sign Up</a></li>
                        <li><a href="{% url 'account_login' %}" class="block font-semibold text-l sm:px-6 text-white hover:bg-stone-600 rounded-xl px-4 py-2 ">Login</a></li>
                        {% endif %}
                </ul>
            </div>
        
    </nav>
    <div class="container py-6 px-6">
        {% block content %}

        {% endblock %}
    </div>

    <footer class="px-6 py-6 flex justify-between bg-neutral-900">
      
        <div class="w-2/3 pr-10">
        
                <h3 class="mb-5 font-semibold text-gray-400">About<h3>
        </div>
        <div class="w-1/3">
        
                <h3 class="mb-5 font-semibold text-gray-400">Menu<h3>
                    <ul class="space-y-2">
                        <li><a href="#" class="text-l text-white">About</a></li>
                        <li><a href="#" class="text-l text-white">Contact</a></li>
                        <li><a href="#" class="text-l text-white">Privacy & Policy</a></li>
                        <li><a href="#" class="text-l text-white">Term of Use</a></li>
                    </ul>
        </div>
    
    </footer>   
    
</body>
</html>