{% extends 'Movies/core.html' %}

{% block content %}
<h1 class="text-white text-4xl font-semibold">Latest Movies Added</h1><br>
<div class="flex  overflow-x-scroll gap-x-4">
        {% for movie in latest_movies %}
        <div class="bg-neutral-800 w-1/4 flex-shrink-0">
            <a href="{% url 'movie_detail'  movie.id  %}">
                    <div class="mb-2 grid grid-col-2 rounded-lg">
                        <figure class="pb-2">
                            <img class="rounded-base md:h-auto md:max-w-full" src="{{ movie.image.url }}"><hr>
                        </figure>
                        <div class="text-wrap">
                            <h1 class="text-white md:text-xl font-bold md:text-center pl-2 h-1/3 md:h-1/4 overflow-hidden text-ellipsis"> {{ movie.name }}</h1>
                            <h2 class="text-white pl-2 mx-4"> {{ movie.rating }} ⭐</h2>
                            <h2 class="text-white pl-2 mx-4"> {{ movie.price }} $ </h2>
                                
                        </div>
                        <div class="pl-2 hidden md:block">
                            <p class="text-white pl-2"><strong><span class="hidden md:block"> Play Dates:</span></strong>
                                {% for d in movie.showtimes.all %}
                                    {{ d.date }} <strong class="text-black px-2 font-bold pl-2"> {{ d.tickets_left }} Seat Left</strong><br>
                                {% endfor %}
                            </p>

                            <h2 class="text-white">Duration:{{ movie.duration }} min</h2>
                            
                            <p class="text-white">
                                Genre: 
                                {% for genre in movie.genre.all %}
                                    {{ genre }}
                                {% endfor %}</p>

                            <h2 class="text-white">Year: {{ movie.year }}</h2>
                            
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
</div><br><hr><br>
<h1 class="text-white text-4xl font-semibold">Most Famous Movies</h1><br>
<div class="flex overflow-x-scroll gap-x-4">
        {% for movie in famous_movies %}
        <div class=" bg-neutral-800 basis-1/4 flex-shrink-0">
            <a href="{% url 'movie_detail'  movie.id  %}">
                    <div class="mb-2 grid grid-col-2 rounded-lg">
                        <figure class="pb-2">
                            <img class="rounded-base md:h-auto md:max-w-full" src="{{ movie.image.url }}"><hr>
                        </figure>
                        <div class="text-wrap">
                            <h1 class="text-white md:text-xl font-bold md:text-center pl-2 h-1/3 md:h-1/4 overflow-hidden text-ellipsis"> {{ movie.name }}</h1>
                            <h2 class="text-white pl-2 mx-4"> {{ movie.rating }} ⭐</h2>
                            <h2 class="text-white pl-2 mx-4"> {{ movie.price }} $ </h2>
                                
                        </div>
                        <div class="pl-2 hidden md:block">
                            <p class="text-white pl-2"><strong><span class="hidden md:block"> Play Dates:</span></strong>
                                {% for d in movie.showtimes.all %}
                                    {{ d.date }} <strong class="text-black px-2 font-bold pl-2"> {{ d.tickets_left }} Seat Left</strong><br>
                                {% endfor %}
                            </p>

                            <h2 class="text-white">Duration:{{ movie.duration }} min</h2>
                            
                            <p class="text-white">
                                Genre: 
                                {% for genre in movie.genre.all %}
                                    {{ genre }}
                                {% endfor %}</p>

                            <h2 class="text-white">Year: {{ movie.year }}</h2>
                            
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
</div>
{% endblock %}